* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*      HEADER SECTION      */

.header-and-hero {
    background-color: #1F2937;
    padding: 16px 208px;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.right-links {
    display: flex;
    gap: 24px;
}

/*      HERO SECTION -- TO FIX LATER!*/

.hero {
    padding: 112px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

button {
    padding: 7px 16px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero .hero-right {
    flex-shrink: 0;
    width: 50%;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-left p {
    font-size: 18px;
    color: #F9FAF8;
}

.hero-left button {
    border: none;
}

.hero-image img {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    object-fit: contain;
}

/*      INFO SECTION -- ALSO NEED FIXING!        */

.info h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-info-img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    border: 3px solid #3882F6;
    overflow: hidden;
    border-radius: 10%;
}

.card-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*      QUOTE SECTION -- ALSO NEED FIXING!       */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px;
}

.phrase,
.answer {
    font-size: 36px;
    color: #1F2937;
}
.phrase {
    font-style: italic;
}
.author {
    font-weight: 300;
    text-align: right;
}

/*      CALL TO ACTION      */

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 36px;
}

.container-cta {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    padding: 26px 56px;
    gap: 16px;
}

.cta-left-text {
    display: flex;
    flex-direction: column;
}

.container-cta button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 4px;
}

/*      FOOTER      */

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px 0;
}